<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380166347790-02qbkousjl5t8om7hmdoqlhm6tv6a2ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380166347790-02qbkousjl5t8om7hmdoqlhm6tv6a2ma</string>
	<key>API_KEY</key>
	<string>AIzaSyBYjgtgCEZLfyP7yZch9m-tpu1auB2EDgM</string>
	<key>GCM_SENDER_ID</key>
	<string>380166347790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offsettingMobile</string>
	<key>PROJECT_ID</key>
	<string>offsetting-abef6</string>
	<key>STORAGE_BUCKET</key>
	<string>offsetting-abef6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380166347790:ios:fe69d7e9fb499f3ad5705f</string>
</dict>
</plist>